*.classpath
*.project
*.jsdtscope
Test1/.settings/
Test1/target/
nightfoodfinder/.settings/
nightfoodfinder/target/
Test1/
nightfoodfinder/bin/
nightfoodfinder/src/main/java/kr/co/nff/login/naver/oauth/bo/
