/* https://fontawesome.com/v4.7.0/icons/ */

/** 지인 **/
@charset "utf-8";
@import url('http://fonts.googleapis.com/css?family=Roboto');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* reset */
body {
  font : 14px/1.6em 'Noto Sans KR', sans-serif;
  color: #444;
  background-color: #f9f9f9;
}
* { box-sizing: border-box; margin: 0; padding: 0; }
ul, dl { list-style: none !important; }
li { color: #7f7f7f; }
a { text-decoration: none; color: #7f7f7f; }
i { font-style: normal; font-weight: normal; font-size: 1.4rem; }

/* modules */
.mt0a { margin: 0 auto; }
.hidden { display: none !important;}
.red { color : red; }
.float_l { float: left; }
.float_r { float: right; }
.clearboth:after {
  content: '';
  display: block;
  clear: both;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.topshape { position: absolute; top: -40px; right: 40px; width: 25px; border-width: 20px; border-style: solid; border-color: transparent transparent #FBA4BC transparent;}
/* 헤더 컨텐트 푸터 공통 */
/* header */
body { width: 100%; }
header { position: relative; width: 100%; min-width: 960px; padding: 0 0 0 20px; height: 60px; border-bottom: 1px solid #d4d4d4; background-color: #fff; z-index: 999; }
header > * { float: left;  }
header > div > * > * { display: inline-block; }
header .logo { height: 59px; overflow: hidden; }
header .logo img { margin-top: -50px; margin-left: -13px;}
header .search { border-top: none; }
header .search { border: 1px solid #DBDBDB; line-height: 58px; box-sizing: border-box; }
header .search input,
header .search i { padding: 10px 20px; font-size: 1.6rem; color: #5a5a5a; border: none; background: inherit; }
header .search > form > .icon_w > button { border: none; background-color: #fff; }
header .search div { border-left: 1px solid #d4d4d4; }

header div:nth-child(3) li { padding: 0 20px;  border-left: 1px solid #d4d4d4; line-height: 60px; }
header div:nth-child(3) li i { font-size: 1.4rem; }
header div:nth-child(3) ul li:nth-child(4) i { padding: 10px;  color: #fff; background: #d2d2d2; border-radius: 30px; }
#person_btn:hover { cursor: pointer; }
#person_btn { position: relative; text-align: center;}
#person_btn .pop_person { position: absolute; left: -120px; width: 200px; background: #FBE8A4; }
#person_btn .pop_person .topshape { position: absolute; top: -40px; right: 40px; width: 25px; border-width: 20px; border-style: solid; border-color: transparent transparent #FBA4BC transparent;}
#person_btn .pop_person div:nth-child(2) { padding: 20px; }
#person_btn .pop_person ul { border-top: 1px solid #d4d4d4; }

/* 검색바 활성화 */
header .search.focusIn form { position: relative; }
header .search.focusIn { height: 59px; border: 2px solid #f4a460; }
header .search.focusIn .optionBox.active { margin: -2px; display: block; position: absolute; top: 60px; left: 0; width: 101%; border: 2px solid #f4a460; background: #fff; }
header .search.focusIn .optionBox.active { border-top: none; }
header .search.focusIn .optionBox.active div,
header .search.focusIn .optionBox.active .optionTab li:first-child { border-left: none; text-align: center;}
header .search.focusIn .optionBox.active .optionTab li { float: left; width: calc(100% / 3); height: 40px; line-height: 40px; text-align: center; border-bottom: 1px solid #d4d4d4; }
header .search.focusIn .optionBox.active .optionTab .on { border-bottom: 2px solid #f4a460; }
header .search.focusIn .optionBox.active .select { border-bottom: 1px solid #d4d4d4; }
header .search.focusIn .optionBox.active .select div,
header .search.focusIn .optionBox.active .userselect div { float: left; width: calc(100% / 3); }
header .search.focusIn .optionBox.active label { padding: 2px 20px; border: 1px solid #DBDBDB; border-radius: 12px; background:#fff; }
header .search.focusIn .optionBox.active i { padding: 0; font-size: 1rem; color: #8a8a8a; }
header .search.focusIn .optionBox.active .userselect { float: none;}

/* 컨텐트영역 */
.content { width: 100%; display: inline-block; margin-top: 60px; background: #fff; }
/* 푸터영역 */
footer { position: absolute; bottom: 0; width: 100%; line-height: 40px; text-align: center; background: #251e4a; color: yellow; /*border-top: 1px solid #d4d4d4; box-shadow: 0px -2px 5px #e8e8e8;*/ }
/* 팝업 */
.bgbox.active { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: .9;}


/* 메인 비주얼 컨텐트 */
.main_wrap .v_content { width: 100%; height: 600px; }
.main_wrap .v_content, .main_wrap .v_content * { display: inline-block; margin-top: 60px; overflow: hidden; }
.main_wrap .dot_bg { position: absolute; top: 0; left: 0; width: 100%; height: 600px; background: url(../images/dot_bg.png) repeat; opacity: 1; }
.main_wrap .dot_bg .textbox { margin: 260px auto; display: block; }
.main_wrap .dot_bg .title { margin: 0; display: block; text-align: center; color: #fff; font-size: 24px; }
.main_wrap .v_content img { margin: 0; }
/* 메인 */
.main_wrap .content .store { position: relative; float: left; width: 25%; background-repeat: no-repeat !important; background-size: cover !important; background-position: center center !important; border-right: 1px solid #d4d4d4; background-image: url("../images/imgReady.png"); }
.main_wrap .content .store:nth-child(2), 
.main_wrap .content .store:nth-child(3) { border-bottom: 1px solid #d4d4d4; }
.main_wrap .content .store:nth-child(3), 
.main_wrap .content .store:nth-child(5) { border-right: none; }
.main_wrap .content .store:nth-child(1) {width: 50%; } 
.main_wrap .content .store:before { 
  overflow: hidden;
  content: "";
  display: block;
  padding-top: 92%;
}
.main_wrap .content .store_1 { 
/*    background: #fbb0a4;*/
    background-image: url("https://mp-seoul-image-production-s3.mangoplate.com/added_restaurants/27907_1458188159981819.jpg?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80");
} 
.main_wrap .content .store_2 {
    /* background: #577fc7; */
    background-image: url("https://mp-seoul-image-production-s3.mangoplate.com/585671_1563368297300678.jpg");
}
.main_wrap .content .store_3 {
    /* background: #fba4bc; */
    background-image: url("https://mp-seoul-image-production-s3.mangoplate.com/351785/1049698_1550665955711_24338");
}
.main_wrap .content .store_4 {
    /* background: #a4fbb3; */
    background-image: url("https://mp-seoul-image-production-s3.mangoplate.com/197645/570821_1514026738846_856");
}
.main_wrap .content .store_5 {
    /* background: #fbe8a4; */
    background-image: url("https://mp-seoul-image-production-s3.mangoplate.com/217746/tvxqag51xhxrbj.jpg");
}

.main_wrap .content .store .square_box { /* display: none; */ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%; transition: all 3s; }
.main_wrap .content .store .square_box:before {
  overflow: hidden;
  content: "";
  display: block;
  padding-top: 80%;
  background: #fff; opacity: .6; 
} 
.main_wrap .content .store .desc{ /* display: none; */ position: absolute; top: 30px; left: 50%; transform: translateX(-50%); transition: all 3s; }
.main_wrap .content .store .desc dl * { display: inline; }
.main_wrap .content .store p { position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%); }
.main_wrap .content .store p a { display: block; padding: 10px 60px; color: #9c9c9c; font-size: 0.8rem; background: #ffe378; }

.main_wrap .content .store_1st .desc { top: 50px; }
.main_wrap .content .store_1st p { bottom: 50px; }
.main_wrap .content .store_1st p a { font-size: 1.2rem; }

/* .main_wrap .content .store:hover .square_box,
.main_wrap .content .store:hover .desc { display: block; } */

/* 상세 */
.detail_wrap #stTitle > ul { padding: 10px 45px; border-top: 1px solid #d4d4d4;width: 80%; margin: 0 auto; margin-top: 30px; }
.detail_wrap #stTitle > ul > li { float: left; padding: 0 20px; padding-top: 10px; border-right: 1px solid #d4d4d4; }
.detail_wrap #stTitle > ul > li * { display: block; color: #77747d; }
.detail_wrap #stTitle > ul > li:last-child { border-right: none; }
.detail_wrap #stTitle > ul > li:hover>a * { transform: rotate(30deg); transition: all .3s; }

.detail_wrap .tab_share { position: relative; }
.detail_wrap .tab_share div { position: absolute; bottom: 0; left: 0; }
.detail_wrap .tab_share .topshape { top: 30px; bottom: 0; left: 50%; transform: translateX(-50%); }
.detail_wrap .sharePop { position: absolute; padding: 10px; width: 220px; height: 100px; bottom: -300%; left: -50%; transform: translateX(-25%); background: #fff; border: 1px solid #DBDBDB; box-sizing: content-box; z-index: 1; transform: translate(-40%, 46%); }

.detail_wrap .sharePop li { float: left; width: calc(200px / 3); height: 60px; margin-right: 10px; }
.detail_wrap .sharePop li:nth-child(1) { position: absolute; top: -1px; right: -20px; width: 20px; height: 20px; border: 1px solid #d4d4d4; background: #fff; }
/* .detail_wrap .sharePop li:nth-child(2) a:after { content: '트위터'; display: block; } */
.detail_wrap .sharePop li a { background-image: url('../images/sp_spi.png'); background-size: 660%; display: inline-block; width: 100%; height: 100%; }
.detail_wrap .sharePop li:nth-child(2) a { background-position: -50px -270px !important; }
.detail_wrap .sharePop li:nth-child(3) a { background-position: -110px -270px !important; } 
.detail_wrap .sharePop li:nth-child(4) a { background-position: -290px -210px !important; } 
/* .detail_wrap .sharePop li:nth-child(3) a:after { content: '페이스북'; display: block; } */
.detail_wrap .sharePop img { margin: 0 auto; width: 45px; height: 45px; }
.detail_wrap .sharePop > div { width: 100%; padding: 10px; }
.detail_wrap .sharePop > div p { float: left;  width: 80%; background: #d6d9dd; }
.detail_wrap .sharePop > div a { float: left;  width: 20%; border: 1px solid #444; }
.detail_wrap .sharePop li:first-child, .detail_wrap .sharePop li:last-child {
    margin-right: 0;
}
/* 상세 리뷰(댓글) */
.detail_wrap .content { position: relative; }
div#commentplace > * { width: 100%; margin: 0 auto; }

.detail_wrap #commentplace { border-top: 1px solid #d4d4d4; margin: 0 auto; margin-top: 30px; }
.detail_wrap #commentplace > ul li { padding: 15px; }
.detail_wrap #commentplace > ul li:nth-child(2) { cursor: pointer; }

.detail_wrap .user_rv .user_rv,
.detail_wrap .leave_rv.user_rv { padding: 20px; background: #fff; border-bottom: 1px solid #bfbfbf;}
.detail_wrap .leave_rv.user_rv { border-radius: 2px; }
.detail_wrap .user_rv > ul > li { float: left; }
.detail_wrap .user_rv > ul > li:nth-child(1) { width: 15%; }
.detail_wrap .user_rv > ul > li:nth-child(1) * { display: block; text-align: center; }
.detail_wrap .user_rv > ul > li:nth-child(1) p { color: #ff7000; }
.detail_wrap .user_rv > ul > li:nth-child(2) { width: 75%; padding: 0 15px; border-radius: 5px; }
.detail_wrap .user_rv > ul > li:nth-child(2) span:before { padding: 5px; content: '|'; color: #ababab; vertical-align: text-bottom}
.detail_wrap .user_rv > ul > li:nth-child(2) li:last-child {margin-top: 10px;}
.detail_wrap .user_rv > ul > li:nth-child(2) > ul > li:nth-child(2) { background: #f3f3f3;  padding: 5px; border-radius: 2px; }
.detail_wrap .user_rv > ul > li:nth-child(3) { width: 10%; }
.detail_wrap .user_rv > ul > li i { font-size: 1.4rem; padding: 5px 0;}
.detail_wrap .user_rv > ul > li:nth-child(3) > * { text-align: center; padding: 5px; }
.detail_wrap .user_rv > ul > li:nth-child(2) > ul > li:nth-child(3) > div { margin-right: 10px; display: inline-block; width: 100px; height: 100px; background-size: cover; background-position: center center; }
.detail_wrap .user_rv:hover { position: relative; background: #f3f3f3; }
.detail_wrap .user_rv:hover .reply { background: #fff; }
.detail_wrap .user_rv .reply { padding-top: 30px; border-bottom: 1px solid #d3d3d3; }
.detail_wrap .user_rv > ul > li:nth-child(4) { position: absolute; bottom: 10px; right: 10px;}
.detail_wrap .user_rv > ul > li:nth-child(4) > ul li { display: inline-block }
.ud_control {display: none; }
.detail_wrap .user_rv > .user_rv:hover .ud_control {
    display: block;
}

.detail_wrap .leave_rv textarea { margin: 10px 0; padding: 10px; width: 100%; height: 100%; background: #f3f3f3; resize: none; border: none; border-radius: 2px; }
.detail_wrap .leave_rv li:nth-child(3) button { float: right; padding: 10px 30px; border: 1px solid #DBDBDB; background: #fff; color: #8a8a8a; transition: all .3s;}
.detail_wrap .leave_rv li:nth-child(3) button:hover { border-color: #ea9c5f; color: #ea9c5f; }

.detail_wrap .best_rv { border: 1px solid#ea9c5f !important; }
/* 리뷰작성 페이지 */
.reviewRegist_wrap { background: #fff; height: 760px; }
.reviewRegist_wrap > .content { float: left; left: 50%; transform: translateX(-50%); width: 678px; margin: 101px auto 62px; }
.reviewRegist_wrap .commentwrap > ul:first-child { padding: 30px 0; }
.reviewRegist_wrap .commentwrap ul:first-child > li > span { font-size: 2rem; color: #ff7100; }
.reviewRegist_wrap #commentplace { border-top: none; }
.reviewRegist_wrap .leave_rv.user_rv { border-bottom: none; }
.detail_wrap.reviewRegist_wrap .user_rv:hover { background: #fff; }
.reviewRegist_wrap .user_rv .user_rv, .reviewRegist_wrap .leave_rv.user_rv { border-radius: 2px; }
.reviewRegist_wrap .leave_rv.user_rv > form > ul > li:nth-child(2) > textarea { background: #f7f7f7; height: 150px;}
.reviewRegist_wrap .leave_rv.user_rv > form > ul > li:nth-child(3) > ul > li:nth-child(1)
{ position: relative; width: 100px; height: 100px; border: 1px dashed; }
.reviewRegist_wrap .leave_rv.user_rv > form > ul > li:nth-child(3) > ul > li:first-child * { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.reviewRegist_wrap .leave_rv.user_rv > form > ul > li:nth-child(3) > ul > li input[type="file"] { opacity: 0; } 
.reviewRegist_wrap .leave_rv.user_rv > form > ul > li:nth-child(3) > ul > li > label { text-align: center; line-height: 90px; font-size: 100px; font-weight: lighter; }
.reviewRegist_wrap .leave_rv.user_rv > form > ul > li:nth-child(3) > ul > li #foo { left: 100px; object-fit: cover; }
.reviewRegist_wrap .leave_rv.user_rv > form > ul > li:nth-child(3) > ul > li:last-child > * { display: inline-block; border: 1px solid #d4d4d4; border-radius: 25px; padding: 10px 20px; cursor: pointer; }
.reviewRegist_wrap .leave_rv.user_rv > form > ul > li:nth-child(3) > ul > li:last-child p { position: relative; }
.reviewRegist_wrap .leave_rv.user_rv > form > ul > li:nth-child(3) > ul > li:last-child p * { float: left; }
.reviewRegist_wrap .leave_rv.user_rv > form > ul > li:nth-child(3) > ul > li:last-child p > input { position: absolute; opacity: 0; }
.reviewRegist_wrap .leave_rv.user_rv > form > ul > li:nth-child(3) > ul > li:last-child p > label { font-size: 14px; }
/* 메인  */
.module.main_popular_restaurant_wrap {
    padding-bottom: 0;
}
.pg-main .module {
    padding: 38px 0 36px 0;
}
.pg-main .module {
    position: relative;
    border-top: 1px solid #dbdbdb;
}
.pg-main .module>.title {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 1.125rem;
    color: #ff792a;
    line-height: 1.2em;
    text-align: left;
}
.pg-main .module>.title {
    padding-right: 90px;
    padding-left: 90px;
    font-size: 1.438rem;
}
.pg-main .slider-container {
    position: relative;
}
.pg-main .slider-container {
    margin-top: 27px;
}
.list-restaurants {
    overflow: hidden;
}
.list-restaurants.type-main {
    margin-top: 0px;
}
.pg-main .list-restaurants {
    margin-left: 90px;
    margin-right: 90px;
}
.list-restaurants>li {
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.list-restaurants>li {
    padding-bottom: 35px;
}
.list-restaurants>li:nth-child(odd) {
    padding-right: 17px;
}
.list-restaurants.type-main>li {
    float: left;
    padding-right: 17px;
    padding-left: 17px;
    width: 25%;
}
.list-restaurants.type-main li {
    position: relative;
}
.list-restaurants.type-main>li {
    width: 25%;
}
.pg-main .module_title_wrap {
    margin-left: 90px;
    margin-right: 90px;
}
.pg-main .module .module_title_wrap {
    clear: both;
    overflow: hidden;
}
.pg-main .module .module_title_wrap .title {
    float: left;
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 1.125rem;
    color: #ff792a;
    line-height: 1.35em;
    text-align: left;
}
.pg-main .module .module_title_wrap .title {
    font-size: 1.438rem;
}
.pg-main .slider-container.toplist-slider {
    margin: 30px 90px auto;
}
.btn-nav {
    display: block;
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: -35px;
    padding: 0;
    height: 70px;
    width: 62px;
    text-align: center;
    cursor: pointer;
    opacity: .4;
}
.slick-disabled {
    display: none;
}
.btn-nav.prev {
    left: 0;
    border-radius: 0px 70px 70px 0px;
}
.pg-main .slider-container.toplist-slider .prev {
    left: -45px;
}
/* 메인  끝*/
/* 리스트페이지 (죄송합니다) */
.list_content { margin-top: 0; }

/* 탑버튼 */
#btnTop {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#btnTop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#btnTop:hover {
  cursor: pointer;
  background-color: #333;
}
#btnTop:active {
  background-color: #555;
}
#btnTop.show {
  opacity: 1;
  visibility: visible;
}
/** 지인  끝 **/

/** 승경 **/
/*사장님 답글*/
.detail_wrap .reply>* {
	float: left;
}

.detail_wrap .reply>*:nth-child(1) {
	width: 10%;
	left: 0;
	margin-right: 5%;
}

.detail_wrap .reply>*:nth-child(2) {
	width: 85%;
}

table.reply_content {
	border: 1px solid #DBDBDB;
	border-radius: 10px;
	height: 100px;
	position: relative;
	bottom: 10px;
	table-layout: fixed;
}

table.reply_content tr td:nth-child(1) {
	width: 16%;
}

table.reply_content tr td:nth-child(2) {
	width: 70%;
}

table.reply_content tr td:nth-child(3) {
	width: 14%;
}

.reply_content ul {
	list-style: none;
	padding-left: 0px;
	margin-bottom: 24px;
	width: 74px;
}

.reply_content li:nth-child(2) {
	font-size: 8px;
	margin-left: 5px;
}

.reply_content tr td:nth-child(2) li {
	list-style: none;
	border: 1px solid #f3f3f3;
	border-radius: 8px;
	height: 70%;
	background-color: #f3f3f3;
	overflow: auto;
}

.reply_content tr td:nth-child(3) button {
	float: left;
	margin-top: 50px;
}

button.modRecomment {
	margin-left: 2px;
}

.reply_form {
	border: 1px solid darkgray;
	border-radius: 10px;
	height: 100px;
	position: relative;
	left: 45px;
	bottom: 10px;
	width: 85%;
	resize: vertical;
}

.reply_form tr td:nth-child(1) {
	width: 85%;
}

textarea.bossContent {
	width: 95%;
	height: 80px;
	line-height: 150%;
	resize: none;
	margin-left: 19px;
	margin-top: 8px;
}

#bossform td:nth-child(2) button {
	margin-top: 98%;
}

#bossform td:nth-child(1) span#counter {
	margin-left: 30px;
	font-size: 13px;
}

#bossform td:nth-child(1) span#countertwo {
	font-size: 13px;
}
/*
.modform {
	border-radius: 10px;
    height: 100px;
    width: 96%;
    margin-left: 15px;
    margin-bottom: 20px;
    resize: none;
}
*/
textarea.modbossContent {
	width: 78%;
	height: 80px;
	line-height: 150%;
	resize: none;
	margin-left: 19px;
	margin-top: 10px;
	position: relative;
	right: 8px;
}

ul.modli {
	float: left;
	width: 500px;
	position: relative;
	bottom: 15px;
	height: 105px;
	left: 8px;
}

li.mod_one {
	font-size: 8px;
	position: relative;
	top: 10px;
}

}
li.mod_two {
	width: 410px;
}

li.mod_three {
	bottom: 65px;
	position: relative;
	left: 397px;
}

.mod_two span {
	position: relative;
	left: 20px;
	bottom: 5px;
}

.mod_three a.modbtn {
	padding: 3px 5px 3px 3px;
	margin: 20px;
	display: inline-block;
	border-radius: 10px;
	transition: all 0.1s;
	/* text-shadow: 0px -2px rgba(0, 0, 0, 0.44); */
	font-family: 'Lobster', cursive;
}

.modbtn:active {
	transform: translateY(3px);
}

.modbtn.mod {
	background-color: lightgrey;
	border-bottom: 5px solid darkgray;
}

.modbtn.mod:active {
	border-bottom: 2px solid darkgray;
}

.modbtn.can {
	background-color: lightgrey;
	border-bottom: 5px solid darkgray;
}

.modbtn.can:active {
	border-bottom: 2px solid darkgray;
}

a.modbtn.mod {
	position: relative;
	right: 5px;
}

a.modbtn.can {
	position: relative;
	right: 45px;
}

/** 승경 끝 **/

/** 진실 **/

.detail_wrap #allDetail {
	display: grid;
	grid-template-rows: 340px 1fr 10%;
}

.detail_wrap #detaillistjs {
	z-index: 1;
}

.detail_wrap #storedetail {
	margin: 0 auto;
	width: 100%;
	/* border: 1px solid red; */
	height: 100%;
	overflow: hidden;
}

.detail_wrap #storeinfo {
	width: 640px;
	border: 2px solid #c1c1c1;
	padding: 30px 20px;
	margin: 0 auto;
	background: white;
	margin-top: -35px;
}

.detail_wrap #stinfo {
	display: grid;
	grid-template-rows: 50px 1fr 1fr;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}

.detail_wrap #stinfo img {
	width: 50px;
}

.detail_wrap #star {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100px;
	text-align: right;
	margin-left: 353px;
}

.detail_wrap #stTitle {
	border-bottom: 2px solid #c1c1c1;
	padding-bottom: 20px;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.detail_wrap #scopescore {
	margin-top: 17px;
	margin-right: 10px;
	font-size: 22px;
}

.detail_wrap #stinfo img {
	width: 50px;
}

.detail_wrap #stTitle>h2 {
	font-size: 45px;
}

.detail_wrap .menulist {
	border: 2px solid #c1c1c1;
	border-radius: 8px;
	width: 350px;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}

.detail_wrap .iicon {
	font-size: 30px;
	width: 40px;
}

.detail_wrap th {
	width: 60px;
}

.detail_wrap #showmap, .detail_wrap #updatebutton {
	background: #d8d8d8;
	border: 0;
	width: 60px;
	height: 25px;
}

.detail_wrap #btdiv {
	text-align: center;
	margin-top: 15px;
}

.detail_wrap table {
	width: 80%;
	margin: 0 auto;
}

.detail_wrap #clockicon {
	vertical-align: top;
}

.detail_wrap .tabletdfont, .detail_wrap #menusizemin {
	font-size: 16px;
}

.detail_wrap #sizeminn, .detail_wrap #menusizemin {
	width: 68px;
}

.tabletitlefont {
	font-weight: bold;
}

.detail_wrap #menusizemin {
	font-size: 25px;
}

.detail_wrap #clock {
	vertical-align: initial;
}

/*가게정보수정*/
.sInfoUpdate_wrap #storeupdateForm {
	width: 600px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 150px;
}

.sInfoUpdate_wrap td {
	padding: 5px;
}

/*가게리뷰 신고*/
.detail_wrap .tenten {
	text-align: right;
}
/*Modal-Box*/
.detail_wrap .rmodal {
	position: fixed;
	z-index: 1;
	padding: 0.5%;
	left: 30%;
	top: 50%;
	width: 40%;
	height: 40%;
	overflow: auto;
	margin: 0 auto;
}

.detail_wrap .rmodal-content {
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	background-color: #fff8d6;
	display: grid;
	grid-template-rows: 40px 1fr;
}

.detail_wrap .rmodal-body {
	padding: 2px 16px;
	background-color: #FFF0A5;
}

.detail_wrap .rclose {
	text-align: right;
	font-size: 5em;
	font-weight: bold;
	opacity: 1;
}

.detail_wrap .rclose:hover, .detail_wrap .rclose:focus {
	color: #B64926;
	text-decoration: none;
	cursor: pointer;
}

.detail_wrap .rmodal-content li {
	padding: 11px;
	font-size: 20px;
}

.detail_wrap .rmodal-content button {
	width: 100px;
	height: 30px;
}

.detail_wrap li.page-item {
	display: inline-block;
	border: #aaaaaa 1px solid;
}

.detail_wrap li.page-item.active {
	background: #193669;
	color: white;
}

.detail_wrap ul.pagination {
	text-align: center;
}

.detail_wrap .slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.detail_wrap .slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.detail_wrap .slick-list:focus {
	outline: none;
}

.detail_wrap .slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.detail_wrap .slick-slider .slick-track, .detail_wrap .slick-slider .slick-list
	{
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.detail_wrap .slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.detail_wrap .slick-track:before, .detail_wrap .slick-track:after {
	display: table;
	content: '';
}

.detail_wrap .slick-track:after {
	clear: both;
}

.detail_wrap .slick-loading .slick-track {
	visibility: hidden;
}

.detail_wrap .slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

.detail_wrap [dir='rtl'] .slick-slide {
	float: right;
}

.detail_wrap .slick-slide img {
	display: block;
	width: 100%;
	height: 100%;
}

.detail_wrap .slick-slide.slick-loading img {
	display: none;
}

.detail_wrap .slick-slide.dragging img {
	pointer-events: none;
}

.detail_wrap .slick-initialized .slick-slide {
	display: block;
}

.detail_wrap .slick-loading .slick-slide {
	visibility: hidden;
}

.detail_wrap .slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.detail_wrap .slick-arrow.slick-hidden {
	display: none;
}

.detail_wrap #map {
	margin: 0 auto;
}

/* 화살표 */
.detail_wrap .slick-arrow {
	z-index: 2; /* prev버튼은 위치 이동시 이미지 뒤로 숨겨짐 */
	position: absolute; /* 원하는 위치에 지정 */
	top: 50%;
	width: 50px;
	height: 50px;
	transform: translateY(-25px);
}

.detail_wrap .slick-prev.slick-arrow { /* prev 이전 */
	left: 0;
}

.detail_wrap .slick-next.slick-arrow { /* next 다음 */
	right: 0;
}

.detail_wrap .gmnoprint {
	display: none;
}

.detail_wrap div#paginationBox {
	margin: 0 auto;
}

.detail_wrap div#commentplace>* {
	display: inline-grid;
}

.menulist>p {
 color: #8b8a8a
}

/* 가게정보수정 */
.sInfoUpdate_wrap #updateBtn {
	text-align: center;
	margin-top: 20px;
}

.sInfoUpdate_wrap #footerEle {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

/*좋아요*/
.detail_wrap .heart {
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  transform: translate(-21%, -7%);
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}
.detail_wrap .heart[data-class="heartActive"] {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
.detail_wrap @keyframes fave-heart {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2800px 0;
  }
}




/** 진실 끝 **/

/** 유빈 **/
header div:nth-child(3) li span {
	line-height: 20px;
	top: 10px;
}
/*----------------------------------------*/
#notice_btn .topshape {
	top: 20px;
	right: 12px;
}

.notice_content {
	position: absolute;
	background: #fff;
	right: -3px;
	padding: 8px;
	height: 676px;
	width: 390px;
	z-index: 100;
}

#notice_btn {
	position: relative;
}

.newnotice {
	position: absolute;
	top: -10px;
	left: 34px;
}

#rednotice {
	background-color: #fa3e3e;
	border-radius: 3px;
	color: #fff;
	padding: 1px 3px;
	font-size: 2px;
}

.notice_content ul li {
	line-height: 5px;
}
/*--------------스토어 리스트------------------*/
#map {
	width: 100%;
	height: 100%;
}

.list_content {
	display: grid;
	grid-template-rows: 48px 1fr;
	grid-template-columns: 1fr 797px;
	grid-template-areas: "header header" "leftarea rightarea";
	padding-right: 0px;
}

.listnotice {
	padding: 10px;
	padding-left: 1px;
	border-bottom: 1px solid rgb(235, 235, 235);
}

.listnotice>div {
	margin: 13px;
}

.listnotice>div>i {
	font-weight: 700;
	font-size: 24px;
	color: #ffe31f;
	margin-right: 14px;
	margin-top: 10px;
}

.listnotice>div>span {
	font-weight: 700;
	font-size: 23px;
	color: #484848;
}

.storeLn {
	height: 200px;
	width: 808px;
	margin: 13px;
}

.fas {
	width: 50px;
}

.search_conditions {
	grid-area: header;
	border-bottom: 1px solid rgb(235, 235, 235);
	padding-left: 24px;
}

.leftarea {
	grid-area: leftarea;
}

.rightarea {
	gird-area: rightarea;
	min-width: 797px;
	padding: 10px;
	overflow: scroll;
}

.sto_li>div {
	float: left;
    height: 180px;
    overflow: hidden;
}

.sto_li>div:nth-child(2) {
	width: 40%;
}

.sto_li>div:nth-child(3) {
	width: 60%;
}

.sto_li {
	border-bottom: 1px solid rgb(235, 235, 235);
	width: 750px;
	position: relative;
}

.sto_li>a {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
}

.sto_li:last-child {
	border-bottom: 0px;
}

.sto_li_content {
	padding: 14px;
	padding-top: 0;
}

.sto_scope {
	float: right;
	padding-right: 9px;
}

.scope_star {
	color: red;
}

.store_name {
	font-size: 20px;
}

.store_info {
	margin-top: 12px;
}

.sto_li_content>div:nth-child(1) {
	margin-bottom: 2px;
}

/* 이미지 슬라이더 */
.bx-wrapper {
	border: none !important;
	box-shadow: none !important;
}

.bx-viewport {
	height: 100% !important;
}

.bx-wrapper, .bx-viewport {
	height: 180px;
	overflow: hidden;
	border: none;
}

.bx-wrapper > img {
    border-radius: 4px;
    max-width: 100%;
    height: auto; 
    overflow: hidden;
}

.bx-wrapper .bx-controls-direction a {
	z-index: 0 !important;
}
/*--이미지슬라이더 끝---*/
/*-------------스토어 리스트 끝------------------*/

/* storelist pagination */
#storePageDiv {
	text-align: center;
}

.stolist_pagination {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin-top: 10px;
}

.page-item {
	list-style: none;
	float: left;
	display: inline;
	text-align: center;
}

.page-link {
	display: block;
	font-size: 14px;
	text-decoration: none;
	margin-left: 3px;
	padding: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 100%;
}

.page-link:hover {
	background-color: #ffe31f;
}

.page-link:active {
	background-color: #ffe31f;
}

/* -------------------- */

.search_conditions > span {
	padding: 7px 21px;
    border: 2px groove #DBDBDB;
    border-radius: 21px;
    background: #fff;
    margin: 4px;
}




/** 유빈 끝 **/

/** 주영시작 **/
/* 로그인페이지 시작*/
.login_container {
	margin: 0px;
	padding-top: 20px;
	text-align: center;
}

#login_div01, #login_div02 {
	display: inline-block;
}

#login_tab {
	overflow: hidden;
	border-color: #d7d7d7;
}

#login_tab div {
	display: block;
	width: 50%;
	color: #999;
	font-size: 1.333em;
	letter-spacing: -.50px;
	background: #000;
	height: 53px;
	line-height: 52px;
	text-align: center;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	float: left;
}

#login_tab .on {
	background: #fff;
	border-color: #d7d7d7;
	font-weight: 700;
	color: #000;
}

#login_div01 #login_tab01 {
	border-left: solid 1px #d7d7d7;
}

.sns_cont, .mem_cont {
	border: 1px solid #d7d7d7;
	width: 500px;
	border-top: none;
	padding: 20px 50px 20px;
}

.mem_cont ul li input {
	border: 1px solid #d7d7d7;
	height: 38px;
	padding: 0 12px;
	position: relative;
	background: #fff;
}

.mem_cont ul li {
	padding-bottom: 10px;
}

.txt {
	font-size: 1.2em;
	font-weight: 500;
	letter-spacing: -.50px;
	padding-bottom: 10px;
}

#mem_div {
	position: relative;
}

.login_btn {
	position: absolute;
	right: 0;
	bottom: 10px;
	width: 94px;
	height: 86px;
	line-height: 90px;
	letter-spacing: -.50px;
	background: white;
	border: 1px solid #d7d7d7
}
/* 로그인페이지 끝 */

/* 스토어 회원가입페이지 시작*/
.sjoin_content {
	width: 700px;
    border: 1px solid #d7d7d7;
    margin: 20px auto;
}

.sjoin_content table th {
	width: 125px;
}
.sjoin_content table tr {
	margin: 3px;
}
.sjoin_content .reg_submit {
	margin: 5px 0 5px 130px;
    background: white;
    border: 2px solid #d7d7d7;
    width: 130px;
    height: 30px;
    border-radius: 50px;
    font-size: 16px;
    color: #2d2d2d;
}

.sjoin_content .loc_btn {
	background: white;
    border: 1px solid #d7d7d7;
    
}
.sjoin_title {
    font-size: 1.8em;
    padding: 10px;
}
#sjform {
    text-align: left;
    padding-left: 20px;
}
/* 스토어 회원가입페이지 끝*/

/** 주영 끝 **/

/** 가람 시작 **/
.awards_store_wrap .pg-toplist { 
	width: 100%; 
	display: inline-block;
    margin-top: 60px;
}
.awards_store_wrap .pg-toplist .basic-info-list {
 	margin: 0 auto; 
	position: unset; 
	height: 234px;
    background-color: #f7f7f7;
}
.awards_store_wrap .pg-toplist .basic-info-list {
    border-bottom: 1px solid #dbdbdb;
    box-shadow: none;
    border-bottom: none;
    border-bottom: 1px solid #d4d4d4;
    padding: 0;
}
.awards_store_wrap .pg-toplist .basic-info-list>.inner {
    margin: 0 auto;
    padding: 48px 30px 20px 30px;
    width: 860px;
    float: none;
}

.awards_store_wrap .pg-toplist .basic-info-list .status {
    font-size: 0.625rem;
    color: #9b9b9b;
    line-height: 1.2em;
    text-align: center;
}
.awards_store_wrap .pg-toplist .basic-info-list .status {
    margin-top: 20px;
    font-size: 0.875rem;
}
.awards_store_wrap .pg-toplist .basic-info-list .title {
    margin-top: 11px;
    font-size: 1.625rem;
    color: #000000;
    line-height: 1.2em;
    text-align: center;
}
.awards_store_wrap .pg-toplist .basic-info-list .title {
    margin-top: 18px;
    font-size: 2.563rem;
}
.awards_store_wrap .pg-toplist .basic-info-list .desc {
    margin-top: 9px;
    font-size: 1.063rem;
    color: #9b9b9b;
    line-height: 1.2em;
    text-align: center;
}
.awards_store_wrap .pg-toplist .basic-info-list .desc {
    font-size: 1.2rem;
    margin: 20px auto 30px;
}
.awards_store_wrap .content { position: unset; 
}
.awards_store_wrap .content .storelist {    
	margin: 0 auto;
    width: 750px; 
    padding-top: 20px;
    }

.awards_wrap .list-type-ls.type-column02-picks>li {
    display: inline-block;
    width: 50%;
    margin: -4px;
    box-sizing: border-box;
}
.awards_wrap .list-type-ls.type-column02-picks>li:nth-child(odd) {
    padding-right: 15px;
}
.awards_wrap .list-type-ls>li {
    padding-top: 32px;
}
.awards_wrap ol, ul, ul li {
    list-style: none;
}
body .awards_wrap{
    position: relative;
    min-width: 320px;
    margin: 0 auto;
    font-size: 100%;
    line-height: 100%;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-break: keep-all;
    background-color: #fff;
}
.ls-item .info .title {
    font-size: 1.500rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    text-align: center;
}
.type-column02-picks .ls-item .info .title {
    font-size: 2rem;
}
.ls-item .info .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    display: block;
    font-size: 1.375rem;
    color: #ffffff;
    line-height: 1.2em;
    word-break: break-all;
}
.ls-item .thumb {
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
}
img.center-crop.portrait.lazy {
    width: 600px;
    height: 300px;
}
.ls-item .info .info_inner_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.awards_wrap .content {
	position: unset !important;
	width: 1200px;
	margin: 0 auto;
	display: block !important;
}
.imgggcls {
	 width: 250px; 
	 height: 180px; 
}
/** 가람 끝 **/
