/* https://fontawesome.com/v4.7.0/icons/ */


/** 지인 **/
@charset "utf-8";
@import url('http://fonts.googleapis.com/css?family=Roboto');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

/* reset */
body {
  font : 14px/1.6em 'Noto Sans KR', sans-serif;
  color: #444;
  background-color: #f9f9f9;
}
* { box-sizing: border-box; margin: 0; padding: 0; }
ul, dl { list-style: none; }
li { color: #7f7f7f; }
a { text-decoration: none; color: #7f7f7f; }
i { font-style: normal; font-weight: normal; font-size: 1.4rem; }

/* modules */
.mt0a { margin: 0 auto; }
.hidden { display: none; }
.red { color : red; }
.float_l { float: left; }
.float_r { float: right; }
.clearboth:after {
  content: '';
  display: block;
  clear: both;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 헤더 컨텐트 푸터 공통 */
/* header */
body { width: 100%; }
header { position: fixed; width: 100%; min-width: 960px; padding: 0 0 0 20px; height: 60px; border-bottom: 1px solid #d4d4d4; box-shadow: 0px 5px 5px #e8e8e8; background-color: #fff; z-index: 999;}
header > * { float: left;  }
header > div > * > * { display: inline-block; }
header .logo { margin: 10px; }
header .search { border-top: none; }
header .search { border: 1px solid #d4d4d4; line-height: 58px; box-sizing: border-box; }
header .search input,
header .search i { padding: 10px 20px; font-size: 1.6rem; color: #5a5a5a; border: none; background: inherit; }
header .search div { border-left: 1px solid #d4d4d4; }

header div:nth-child(3) li { padding: 0 20px;  border-left: 1px solid #d4d4d4; line-height: 60px; }
header div:nth-child(3) li i { font-size: 1.4rem; }
header div:nth-child(3) ul li:nth-child(4) i { padding: 10px;  color: #fff; background: #d2d2d2; border-radius: 30px; }
#person_btn:hover { cursor: pointer; }
#person_btn { position: relative; text-align: center;}
#person_btn .pop_person { position: absolute; left: -120px; width: 200px; background: #FBE8A4; }
#person_btn .pop_person .topshape { position: absolute; top: -40px; right: 40px; width: 25px; border-width: 20px; border-style: solid; border-color: transparent transparent #FBA4BC transparent;}
#person_btn .pop_person div:nth-child(2) { padding: 20px; }
#person_btn .pop_person ul { border-top: 1px solid #d4d4d4; }

/* 검색바 활성화 */
header .search.focusIn form { position: relative; }
header .search.focusIn { height: 59px; border: 2px solid #f4a460; }
header .search.focusIn .optionBox.active { margin: -2px; display: block; position: absolute; top: 60px; left: 0; width: 101%; border: 2px solid #f4a460; background: #fff; }
header .search.focusIn .optionBox.active { border-top: none; }
header .search.focusIn .optionBox.active div,
header .search.focusIn .optionBox.active .optionTab li:first-child { border-left: none; }
header .search.focusIn .optionBox.active .optionTab li { float: left; width: calc(100% / 3); height: 40px; line-height: 40px; text-align: center; border-bottom: 1px solid #d4d4d4; }
header .search.focusIn .optionBox.active .optionTab .on { border-bottom: 2px solid #f4a460; }
header .search.focusIn .optionBox.active .select { border-bottom: 1px solid #d4d4d4; }
header .search.focusIn .optionBox.active .select div,
header .search.focusIn .optionBox.active .userselect div { float: left; width: calc(100% / 3); }
header .search.focusIn .optionBox.active label { padding: 0 10px; border: 1px solid #d4d4d4; border-radius: 15px; background:#fff; }
header .search.focusIn .optionBox.active i { padding: 0; font-size: 1rem; color: #8a8a8a; }
header .search.focusIn .optionBox.active .userselect { float: none;}

/* 컨텐트영역 */
.content { width: 100%; position: absolute; top: 60px; background: #fff; }
/* 푸터영역 */
footer { position: absolute; width: 100%; line-height: 40px; text-align: center; background: #251e4a; color: yellow; /*border-top: 1px solid #d4d4d4; box-shadow: 0px -2px 5px #e8e8e8;*/ }
/* 팝업 */
.bgbox.active { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: .9;}



/* 메인 */
.main_wrap .content .store { position: relative; float: left; width: 25%; background-repeat: no-repeat !important; background-size: cover !important; background-position: center center !important; border-right: 1px solid #d4d4d4; background-image: url("../images/imgReady.png"); }
.main_wrap .content .store:nth-child(2), 
.main_wrap .content .store:nth-child(3) { border-bottom: 1px solid #d4d4d4; }
.main_wrap .content .store:nth-child(3), 
.main_wrap .content .store:nth-child(5) { border-right: none; }
.main_wrap .content .store:nth-child(1) {width: 50%; } 
.main_wrap .content .store:before { 
  overflow: hidden;
  content: "";
  display: block;
  padding-top: 92%;
}
.main_wrap .content .store_1 { 
/*    background: #fbb0a4;*/
    background-image: url("https://mp-seoul-image-production-s3.mangoplate.com/added_restaurants/27907_1458188159981819.jpg?fit=around|512:512&crop=512:512;*,*&output-format=jpg&output-quality=80");
} 
.main_wrap .content .store_2 {
    /* background: #577fc7; */
    background-image: url("https://mp-seoul-image-production-s3.mangoplate.com/585671_1563368297300678.jpg");
}
.main_wrap .content .store_3 {
    /* background: #fba4bc; */
    background-image: url("https://mp-seoul-image-production-s3.mangoplate.com/351785/1049698_1550665955711_24338");
}
.main_wrap .content .store_4 {
    /* background: #a4fbb3; */
    background-image: url("https://mp-seoul-image-production-s3.mangoplate.com/197645/570821_1514026738846_856");
}
.main_wrap .content .store_5 {
    /* background: #fbe8a4; */
    background-image: url("https://mp-seoul-image-production-s3.mangoplate.com/217746/tvxqag51xhxrbj.jpg");
}

.main_wrap .content .store .square_box { /* display: none; */ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%; transition: all 3s; }
.main_wrap .content .store .square_box:before {
  overflow: hidden;
  content: "";
  display: block;
  padding-top: 80%;
  background: #fff; opacity: .6; 
} 
.main_wrap .content .store .desc{ /* display: none; */ position: absolute; top: 30px; left: 50%; transform: translateX(-50%); transition: all 3s; }
.main_wrap .content .store .desc dl * { display: inline; }
.main_wrap .content .store p { position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%); }
.main_wrap .content .store p a { display: block; padding: 10px 60px; color: #9c9c9c; font-size: 0.8rem; background: #ffe378; }

.main_wrap .content .store_1st .desc { top: 50px; }
.main_wrap .content .store_1st p { bottom: 50px; }
.main_wrap .content .store_1st p a { font-size: 1.2rem; }

/* .main_wrap .content .store:hover .square_box,
.main_wrap .content .store:hover .desc { display: block; } */
/** 지인  끝 **/


/** 승경 **/


/** 승경 끝 **/


/** 진실 **/
.detail_wrap #storedetail {
	display: grid;
	grid-template-rows: 300px 1fr;
	margin: 0 auto;
	width: 960px;
	/* border: 1px solid red; */
}

.detail_wrap #storeinfo {
	width: 640px;
	border: 2px solid #c1c1c1;
	padding: 30px 20px;
	margin: 0 auto;
}

.detail_wrap #stinfo {
	display: grid;
	grid-template-rows: 50px 1fr 1fr;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}

.detail_wrap #stinfo img {
	width: 50px;
}

.detail_wrap #star {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100px;
	text-align: right;
	margin-left: 353px;
}

.detail_wrap #stTitle {
	border-bottom: 2px solid #c1c1c1;
	padding-bottom: 20px;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.detail_wrap #scopescore {
	margin-top: 17px;
	margin-right: 10px;
	font-size: 22px;
}

.detail_wrap #stinfo img {
	width: 50px;
}

.detail_wrap #stTitle>h2 {
	font-size: 45px;
}

.detail_wrap .menulist {
	border: 2px solid #c1c1c1;
	border-radius: 8px;
	width: 350px;
	margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
	padding: 10px;
}

.detail_wrap .iicon {
	font-size: 30px;
	width: 40px;
}

.detail_wrap th{
	width: 60px;
}


.detail_wrap #showmap, .detail_wrap #updatebutton {
	background: #d8d8d8;
	border: 0;
	width: 60px;
	height: 25px;
}
.detail_wrap #btdiv{
	text-align: center;
	margin-top: 15px;
}

.detail_wrap table {
	width: 80%;
    margin: 0 auto;
}

.detail_wrap #clockicon {
	vertical-align: top;
}

.detail_wrap .tabletdfont, .detail_wrap #menusizemin {
	font-size: 16px;
}

.detail_wrap #sizeminn, .detail_wrap #menusizemin {
	width: 68px;
}

.tabletitlefont {
	font-weight: bold;
}

.detail_wrap #menusizemin {
	font-size: 25px;
}

.detail_wrap #clock{
	vertical-align: initial;
}
	

/*가게정보수정*/

.sInfoUpdate_wrap #storeupdateForm {
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}

.sInfoUpdate_wrap td {
 padding: 5px;
}

/** 진실 끝 **/

