/* https://fontawesome.com/v4.7.0/icons/ */

* { margin: 0; padding: 0; }

.red { color: red; }
.clearboth:after { content: ''; display: block; clear: both; }

/** 지인 **/


/** 지인  끝 **/

/** 승경 **/


/** 승경 끝 **/
